html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  text-align: center;
  /* max-width: 100%; */
  /* background-color: aqua; */
  box-sizing: unset;
}

#video {
  z-index: -3;
}

.col-md-auto a {
  color: brown;
  font-size: 18px;
}
.row {
  line-height: 40px;
  background-color: #fff;
  opacity: 80%;
  display: flex;
  flex-wrap: wrap;
  /* width: 100vw; */
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-md-auto {
  display: flex;
  align-items: center;
}

.col-md-auto a {
  display: block;
  /* width: 60px; */
  padding: 10px;
  margin: 5px;
}
.cor {
  display: flex;
  justify-content: center;
}
.carousel-item {
  width: 600px;
  height: 300px;
}
.carousel-item img {
  width: 100%;
  height: 100%;
}

.carousel {
  width: 600px;
  height: 300px;
}

.content {
  margin-top: 80px;
}

.title,
.desc,
.menu {
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.title {
  font-size: 60px;
  letter-spacing: 8px;
}

.desc {
  font-size: 12px;
  letter-spacing: 3px;
  margin-bottom: 40px;
}
.menu {
  margin-top: 50px;
  margin-bottom: 20px;
}
.menu a {
  margin: 20px;
  color: #fff;
}

/* contact us */

.contact_container {
  text-align: center;
  background-image: url("../images/bg.jpg");
}

.bgimg {
  width: 100vw;
  height: auto;
}

.contact_title {
  color: rgb(255, 248, 239);
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
  letter-spacing: 1vw;
}

.contact_form {
  color: rgb(255, 248, 239);
  font-size: 2vh;
  left: 3%;
  right: 3%;
  top: 15%;
  position: absolute;
  padding-left: 8vw;
  padding-right: 8vw;
  padding-top: 6vh;
  padding-bottom: 6vh;
}

fieldset {
  background-color: #f1f1f1e8;
  opacity: 80%;
  display: block;
}

.form {
  display: block;
  margin-top: 0;
}

.side {
  flex: left;
  width: 20%;
  padding-left: 5vw;
  padding-top: 3vh;
}
.main {
  flex: left;
  padding: 1vh;
  margin: 2vh;
  width: 50%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.submit {
  padding: 2vh 2vw;
  background-color: #f8ede3;
  border-radius: 1vh;
}


a {
  color: rgb(255, 248, 239);
}

a:hover {
  color: #322525;
}

/* about us */
/* about us */

.aboutus_container{
  text-align: center;
}

.bgimg{
  width: 100vw;
  height: auto;
}

.ourstory{
  color: rgb(255, 248, 239);
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
  letter-spacing: 1vw;
}

.story {
  color: rgb(255, 248, 239);
  font-size: 3vh;
  left: 25%;
  right: 25%;
  top: 25%;
  position: absolute;
}

/* final project shopping cart */
.online-store {
  background-image: url("../images/2.jpg");
  background-size: cover;
}

.products {
  background-color: #f1f1f1e8;
  width: 80%;
  /* opacity: 95%; */
  display: block;
  margin: 100px auto;
  font-size: 2vh;
  padding: 2rem;
  /* padding-left: 8vw;
    padding-right: 8vw;
    padding-top: 6vh;
    padding-bottom: 6vh; */
}

.form-container {
  max-width: 700px;
  padding: 5% 10%;
  display: block;
  margin: auto;
  background-color: white;
  margin-bottom: 2.5%;
}

.form-row {
  display: flex;
  flex-direction: column;
}

.form-row label {
  margin-right: 20px;
}

.form-row input,
textarea {
  margin-bottom: 1.25rem;
}

input[type="submit"] {
  /*padding: 2vh 2vw;
  background-color: #f8ede3;
  border-radius: 1vh;*/
  margin: 10px;
}

h1.store {
  letter-spacing: 1vw;
  color: white;
  text-align: center;
  padding-top: 10%;
}
.subTitle {
  letter-spacing: 1vw;
  color: #e9d1d1;
  text-align: center;
  padding-top: 10%;
}
.textBox {
  background-color: #f1f1f1e8;
  width: 26%;
  /* opacity: 95%; */
  display: block;
  margin: 100px auto;
  font-size: 2vh;
  padding: 2rem;
}
